{% extends 'base.html' %}

{% block content %}
{{block.super}}
{% for posts_item in posts %}
{%for photos_item in photos%} 
<div class="container">
    <div class="row" style="padding-left: 100px;">
        <div class="col-md-7, col-lg-7, col-sm-7" style="background-color: white;">
            <div class="card">
                <div class="card_header">
                    <div class="profile" style="padding-bottom: 10px; padding-top: 10px;"><img style="width: 50px; height: 50px; border-radius: 50px;" src="{{posts_item.profile_photo.url}}"><strong style="padding-left: 10px;">{{posts_item.name}}</strong></div>
                </div>
              
                <div class="card_body">
                    <div class="post">
                        <img style="width: 595px; height: 360px;" src="{{photos_item.image.url}}">
                        <div>
                           <a href=""><i style="color: black;" class="glyphicon glyphicon-heart-empty">{{photos_item.likes}}</i></a> 
                           <a href=""><i style="color: black; padding-left: 10px;" class="glyphicon glyphicon-comment"></i></a> 
                           <a href="{{photos_item.image.url}}"download="{{ photos_item.name}}" class="btn btn-secondary"><i style="color: black;" class="glyphicon glyphicon-send"></i></a>
                        </div><br>
                        <p>{{photos_item.caption}}</p>
                        <p style="color: grey;">{{photos_item.pub_date}}</p>
                        <strong>Comments</strong>
                        <p>{{photos_item.comments}}</p>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endfor %} 
{% endblock %}