{% extends 'base.html' %}

{% block content %}
{{block.super}}
{% for posts_item in posts %}
<div class="container">
    <div class="profile" style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px; background-color: white;">
        <img style="width: 100px; height: 100px; border-radius: 100px;" src="{{posts_item.profile_photo.url}}"><strong style="padding-left: 10px; font-size: 40px;">{{photos_item.name}}</strong>
        <p><strong>Bio</strong></p>
        <p>{{posts_item.bio}}</p>
        <a href="{%url 'new_profile'%}"><i style="color: black; padding-right: 20px;" class="glyphicon glyphicon-pencil">Edit</i></a>
    </div>
</div><hr>
{% endfor %} 
<div class="container" style="background-color: white;">
    <div class="row">
{% for photos_item in photos %}
      <div class="col-md-3">
        <a  href= "{% url 'photos' %}">
            <img style="width: 300px;height: 300px; padding-right: 20px; padding-top: 20px;" src="{{photos_item.image.url}}" alt="Image">
        </a>
      </div>
{% endfor %} 
{% endblock %}